.user-menu {
    font-size: 14px;
    white-space: nowrap;
}

.user-menu a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
    display: contents;
    align-items: center;
}

.user-menu a i {
    margin-right: 5px;
}

