img,.body_content,.tnb_01,.m_tel,.toggleGnb,.sub_layout_nav>div,.sub_layout_nav>div>div,.sub_layout_nav>div .deps2 .deps2_nav li,.sub_layout_nav>div .deps2 .deps2_nav li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.width_wrap:after,.sub_layout_nav>div:after {
    content: '';
    display: block;
    clear: both
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

html {
    overflow-y: scroll
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 100%;
    -webkit-text-size-adjust: none;
    -ms-interpolation-mode: bicubic !important
}

html,body {
    width: 100%
}

body,input,textarea {
    font-family: 'Apple SD Gothic Neo',AppleGothic,"Lucida Grande",Tahoma,Verdana,'Malgun Gothic' 'NanumGothic','MalgunGothic',Dotum,sans-serif
}

img {
    max-width: 100%;
    border: 0 none;
    -ms-interpolation-mode: bicubic;
    -webkit-image-rendering: optimizeQuality
}

h1,h2,h3,h4,ul,li,dl,dd,dt,figure,form,p {
    margin: 0
}

a {
    color: #333;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

table {
    border-collapse: collapse
}

button {
    cursor: pointer
}

.dis_mobile {
    display: block
}

.dis_desktop {
    display: block
}

.dis_mobile_tablet {
    display: block
}

.dis_mobile_desktop {
    display: block
}

.pc_nav {
    display: none
}

.width_wrap {
    position: relative;
    margin: 0 auto;
    width: 100%
}

.viewport {
    min-width: 320px
}

.container {
    overflow: hidden
}

.body_content {
    float: none;
    width: 100%;
    min-height: 500px;
    margin-top: 20px;
    padding: 0 10px 100px 10px
}

.body_content .sub_subject {
    position: relative;
    padding-top: 20px;
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: 'Noto Sans','Nanum Gothic','Malgun Gothic',sans-serif;
    font-weight: 500;
    border-bottom: 1px solid #ddd
}

.body_content .sub_subject:before {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background: #92c6ed;
    margin-bottom: 10px
}

#footer {
    background: #fff;
    border-top: 1px solid #ddd
}

.tnb_01 {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 10px 0;
    display: none
}

.tnb_01>div .left_tnb {
    text-align: center
}

.tnb_01>div .right_tnb {
    float: right
}

.tnb_01>div p span {
    font-family: 'Noto Sans','Nanum Gothic','Malgun Gothic',sans-serif;
    display: inline-block;
    font-size: 12px;
    box-sizing: border-box;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
    font-weight: 500
}

.tnb_01>div p span:nth-child(-n + 3) {
    margin-bottom: 5px
}

.sub_menu_01 {
    margin-top: 30px
}

.sub_menu_01 .snb ul {
    text-align: center
}

.sub_menu_01 .snb ul li {
    margin-bottom: 5px;
    display: inline-block
}

.sub_menu_01 .snb ul li a {
    display: block;
    padding: 8px 20px;
    font-size: 16px;
    color: #333;
    background: #eee;
    border-radius: 30px;
    font-family: 'Montserrat','Noto Sans',NanumGothic,'NanumGothic','Open Sans',sans-serif
}

.sub_menu_01 .snb ul li.active a,.sub_menu_01 .snb ul li:hover a {
    background: #e38188;
    color: #fff
}

.logo_wrap_01 {
    position: relative;
    z-index: 9
}

.logo_wrap_01 .pc_nav_bg {
    display: none;
    position: absolute;
    width: 100%;
    background: #fff
}

.logo_wrap_01>div h1 {
    width: 100px;
    padding: 15px 0
}

.logo_wrap_01>div h1 a {
    display: block;
    line-height: 0
}

.logo_wrap_01>div h1 a img {
    vertical-align: top !important
}

.logo_wrap_01>div .pc_nav {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 0
}

.m_tel {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 50px;
    display: block;
    padding: 0;
    text-decoration: none;
    color: #333;
    font-size: 30px;
    border-left: 1px solid #ccc;
    padding: 10px 0 0 10px
}

.toggleGnb {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    display: block;
    padding: 0;
    text-decoration: none;
    color: #333;
    font-size: 30px;
    border-left: 1px solid #ccc;
    padding: 10px 0 0 10px
}

.toggleGnb.on {
    color: #92c6ed
}

.mo_nav {
    display: none
}

.mo_nav.on {
    display: block
}

.spot_pc {
    position: relative;
    font-size: 0;
    overflow: hidden
}

.sub_layout_nav {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px
}

.sub_layout_nav>div {
    border-left: 1px solid #ddd
}

.sub_layout_nav>div>div {
    float: left;
    color: #666;
    border-right: 1px solid #ddd;
    height: 45px
}

.sub_layout_nav>div .home {
    width: 45px;
    text-align: center;
    padding-top: 14px
}

.sub_layout_nav>div .deps1 {
    font-size: 14px;
    font-weight: bold;
    padding: 14px 20px 0 20px;
    color: #252525
}

.sub_layout_nav>div .deps2 {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    padding: 14px 20px 0 20px;
    color: #92c6ed;
    cursor: pointer;
    min-width: 130px
}

.sub_layout_nav>div .deps2 span {
    display: none
}

.sub_layout_nav>div .deps2 span.on {
    display: inline
}

.sub_layout_nav>div .deps2 .deps2_nav {
    display: none;
    position: absolute;
    left: -1px;
    right: -1px;
    top: 46px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    z-index: 9
}

.sub_layout_nav>div .deps2 .deps2_nav.on {
    display: block
}

.sub_layout_nav>div .deps2 .deps2_nav li {
    border-bottom: 1px solid #ddd;
    background: #fff
}

.sub_layout_nav>div .deps2 .deps2_nav li.on>a {
    color: #92c6ed
}

.sub_layout_nav>div .deps2 .deps2_nav li a {
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 45px;
    padding: 14px 10px 0 10px;
    color: #626469;
    text-align: left;
    letter-spacing: -.5px
}

.sub_layout_nav>div .deps2 .deps2_nav li a:hover {
    color: #92c6ed
}
